body {
  padding: 0;
  margin: 0;
}

.p0 {
  padding: 0;
}

/*BUTTONS*/

.white_btn {
  width: 200px;
  height: 40px;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 50px;
  outline: none;
}

.white_btn:hover {
  color: #000;
}

.play_btn {
  width: 160px;
  color: #2ebd59;
  border-color: #2ebd59;
}

.play_btn:hover {
  color: #fff;
}

.social_btn {
  width: 120px;
  text-align: left;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.subscribe_btn {
  height: 40px;
  background-color: #b7b6b6;
  position: absolute;
  outline: none;
}

.sponsor_btn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin-right: 10px;
}

/*HEADER*/

header {
  height: 900px;
  background-image: url('../imgs/hero.png');
  background-size: cover;
}

nav {
  height: 100px;
  line-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  padding: 0 15px;
}

.menu li a {
  color: #fff;
  text-transform: uppercase;
}

.menu li a:hover,
.menu li a:focus {
  text-decoration: none;
  color: #3f729b;
}

.top_line {
  height: 1px;
  background-color: #3f729b;
}

.logo {
  padding-top: 40px;
  color: #3f729b;
  font-size: 30px;
  font-weight: bold;
}

.title_block {
  margin-top: 200px;
}

/*MAIN SECTION*/

.about_descr {
  text-align: left;
  margin: 70px 30px;
}

.about_descr h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.about_descr p {
  font-size: 24px;
}

.photo_block {
  position: relative;
}

.photo_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 11, 15, 0.6);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  opacity: 0;
}

.photo_block:hover .photo_wrap{
  opacity: 1;
}

.photo_descr {
  color: #fff;
  text-align: center;
  margin: auto;
}

.photo_descr h4 {
  text-transform: uppercase;
}

.instagram_block {
  height: 300px;
  background-color: #3f729b;
  color: #fff;
  text-align: left;
  padding: 60px 30px 0 180px;
}

.instagram_wrap h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.instagram_wrap p {
  font-size: 20px;
  font-family: serif;
  margin: 20px 0;
}

.play_block {
  position: relative;
  background-color: #282b2f;
  padding-left: 300px;
}

.play_wrap {
  position: absolute;
  width: 350px;
  height: 400px;
  background-color: #212227;
}

.play_descr {
  text-align: left;
  padding-top: 80px;
  padding-left: 50px;
}

.play_descr h4,
.play_descr h5 {
  text-transform: uppercase;
  color: #2ebd59;
}

.play_descr h4{
  font-weight: bold;
}

.play_descr p {
  color: #fff;
  margin: 30px 0;
}

.spotify_block {
  height: 300px;
  background-color: #2ebd59;
  padding: 60px 30px 0 180px;
}

.spotify_block,
.itunes_block {
  color: #fff;
}

.itunes_block {
  height: 300px;
  background-color: #282b2f;
  padding: 60px 30px 0 50px;
}

.spotify_block h4,
.itunes_block h4 {
  font-weight: bold;
  text-transform: uppercase;
}

.spotify_block p,
.itunes_block p {
  font-size: 24px;
  margin: 20px 0;
  font-family: serif;
}

.itunes_btn:hover {
  color: #2ebd59;
}

/*FOOTER*/

footer {
  background-color: #212227;
}

footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

footer p,
footer span,
footer i {
  font-size: 12px;
  color: #766e6e;
}

.copyright_block {
  padding: 60px 0 0 70px;
}

.copyright_block span {
  text-transform: uppercase;
}

.contact_block {
  padding-top: 60px;
}

.social_btn i {
  font-size: 12px;
  font-weight: bold;
}

.subscribe_block {
  padding-top: 60px;
  padding-left: 50px;
  padding-bottom: 80px;
}

.subscribe_block input {
  width: 300px;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #b7b6b6;
  outline: none;
}

.subscribe_btn i {
  color: #766e6e;
}

.subscribe_btn:hover i {
  color: #fff;
}

.social_btn:hover i,
.sponsor_btn:hover i {
  color: #fff;
}

.sponsor_btn i {
  font-size: 24px;
}
